<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="imgs and icons\fav.png" type="image/x-icon">
    <link rel="stylesheet" href="src/login-page.css">
    <title>Home</title>
</head>
<body>
<div class="background-container">
    <div class="company-name">
      <h2>MEISUEDISON LIMITED</h2>
    </div>
    <div class="login-Form">
        <p class="signIn">Sign In</p>
        <form action="/Userslogin" method="post">
            <p class="log-p">Username</p>
            <input type="text" name="name" id="username" placeholder="username" required>
            <p class="log-p">Password</p>
            <input type="password" name="Password" id="password" placeholder="password" required>
            <button type="submit" class="login-bttn" id="login-bttn">Log in</button>
        </form>
        <h3>
            <% if (messages.error) { %>
                <%= messages.error %>
            <% } %> 
        </h3>
    </div>
</div>
<script src="src/login-page.js"></script>
</body>
</html>
