body {
    background: linear-gradient(135deg, #3366ff, rgb(13, 140, 220), #3366ff, #3366ff);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.background-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-name {
    font-family:  sans-serif;
    color: white;
    font-size: 27PX;
    font-weight: bolder;
    padding: 5px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.login-Form {
    box-shadow: 0px 0px 15px rgb(97, 97, 97);
    background: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(3px);
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    width: 100%;
    max-width: 380px;
    height: 340px;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
}

.log-p {
    font-weight: bold;
    color: black;
    font-size: 17px;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    color: rgb(255, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

p {
    text-align: left;
    margin-bottom: 8px;
    color: #333333;
}

.signIn {
    text-align: center;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
}

#login-bttn {
    width: 100%;
    padding: 12px;
    margin-top: 30px;
    background-color: black;
    color: #fff;
    border: none;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
}

#login-bttn:hover {
    border-radius: 25px;
    background-color: rgb(43, 43, 43);
    transition: background-color 0.3s ease;
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-Form {
        padding: 15px;
        width: 90%;
    }

    h1 {
        font-size: 1.5em;
    }

    .log-p {
        font-size: 16px;
    }

    #login-bttn {
        padding: 10px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .company-name {
        font-size: large;
    }

    .login-Form {
        padding: 10px;
        width: 100%;
        max-width: 350px;
    }

    h1 {
        font-size: 1.2em;
    }

    .log-p {
        font-size: 14px;
    }

    input, #login-bttn {
        padding: 8px;
        font-size: 14px;
    }

    #login-bttn {
        margin-top: 20px;
    }
}
